@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    .Login{ 
    /* margin: 0 auto; */
    margin-top: 70px;
    /* max-width: 400px; */
    padding: 40px 40px;
    background-color: rgba(112, 128, 144, .7);  
  }

  .center {
    text-align: center;
  }
}