  .nav-link,.navbar-brand{
    color: white;
}

.navbar-brand {
    font-family: marker;
}

.nav-link {
    font-family: american typewriter; 
}

nav{
    background-color:slategrey;
}

.topMargin{
    margin-top: 100px;
}


.forum-element {
    margin-top:150px;
}
