  .nav-link,.navbar-brand{
    color: white;
    font-family: palatino; 
}

.nav-link {
    justify-content: space-between
}


nav{
    background-color: rgb(14, 22, 38)
    /* display: inline-block; */
}

.topMargin{
    margin-top: 70px;
}

.card {
    border-width: 5px; 
    border-color: rgb(19, 58, 137)
}

.card-title {
    font-weight: bolder; 
}

.card-title, .card-text {
    font-family: palatino; 
    color: slategrey 
}

.btn {
    background-color: rgb(19, 58, 137);
    border-width: 5px; 
    border-color: white; 
}

.w-100 {
    border-width: 3px;
    border-color:rgb(19, 58, 137)
}


.list-group-item {
    border-width: 2.5px; 
    border-color: rgb(19, 58, 137);
    font-family: palatino; 
    color: slategrey

}

.list-group-item {
    border-width: 1.5px; 
    border-color: rgb(19, 58, 137)
}
.list-group-item-heading {
    font-weight: bolder;
    color: rgb(19, 58, 137)
}

.forum-element {
    margin-top:50px;
}

.control-label {
    font-family: palatino; 
    color: slategrey;
    font-weight: bolder
}

.background {
    background-image:url("./images/niels.jpg");
    background-repeat: no-repeat
}


.trimMargin{
    margin-top: 60px;
}
 
.submit {
    background-color:rgb(19, 58, 137);
    border-width: 5px; 
    border-color: white;
} 

.forum-nav {
    margin-top: 100px;
}

.forum-wrapper {
    margin: 100px;
}
