  .nav-link,.navbar-brand{
    color: white;
    font-family: palatino; 
}

.nav-link {
    justify-content: space-between
}


nav{
    background-color:slategrey;
    /* display: inline-block; */
}

.topMargin{
    margin-top: 100px;
}

.card {
    border-width: 3px; 
    border-color: #2074e6; 
}

.card-title {
    font-weight: bolder; 
}
.card-title, .card-text {
    font-family: palatino; 
    color: slategrey 
}

.btn {
    background-color:#2074e6; 
    border-width: 5px; 
    border-color: white; 
}

.w-100 {
    border-width: 3px;
    border-color: #2074e6;
}


.list-group-item {
    border-width: 2.5px; 
    border-color: #2074e6; 
    font-family: palatino; 
    color: slategrey

}

.list-group-item {
    border-width: 1.5px; 
    border-color: #2074e6; 
}
.list-group-item-heading {
    font-weight: bolder
}

.forum-element {
    margin-top:50px;
}

.control-label {
    font-family: palatino; 
    color: slategrey;
    font-weight: bolder
}

.background {
    background-image:url("./images/niels.jpg");
    background-repeat: no-repeat
}


.trimMargin{
    margin-top: 60px;
}
 
.submit {
    background-color:#2074e6; 
    border-width: 5px; 
    border-color: white;
} 

.Dadhacks {
    background: url("./images/vintage-leaves.png")
}

.forum-nav {
    margin-top: 100px;
}

.forum-wrapper {
    margin: 100px;
}